<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
{#<p>Verification code will be sent on the Gmail address {{mail}}</p>#}
{#<p></p>#}
{#<form method="POST">#}
{#    <input type="number" name="inputcode" placeholder="code">#}
{##}
{#    <input type="submit">#}
{##}
{#</form>#}
<div class="bg-img">
    <div class="content">
        <header>Verification</header>
        <p class="verif_mess">Verification code has been sent to {{ mail }} address</p>
        <form method="POST" class="space">
            <div class="field">
                <span></span>
                <input type="number" placeholder="Enter code" name="inputcode">
            </div>
            <div class="field space">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>

